/* ---------* Reset CSS *------------ */
* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}
h1 { 
    font-size: 2.2em; 
} 
h2 { 
    font-size: 2.0em;     
} 
h3 { 
    font-size: 1.8em; 
} 
h4 { 
    font-size: 1.6em;     
} 
h5 { 
    font-size: 1.4em;     
} 
p { 
    font-size: 1.2em;     
}
/* ---------* end: Reset CSS *------- */

/* ---------* Override Bootstrap *---- */
.navbar {
    margin-bottom: 9px;
}
.nav {
    li {
        a {
            &:hover {
                text-decoration: none;
                background: none;
            }
            &:focus {
                text-decoration: none;
                background: none;
            }
        }
    }
}
.row {
    margin-right: 0;
    margin-left: 0;
}
/* ---------* end: Override *--------- */

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
}
body {
    font-family: arial, sans-serif;
    /*background-color: #f5f6f7;*/

    header {
        background-color: #2B59A2;

        section {
            nav {
                div {
                    .navbar-header {
                        a {

                            &.navbar-brand {
                                margin-top: 0px;
                                margin-bottom: 0px;
                                color: #fff;
                                font-size: 25px;
                                line-height: 25px;
                                font-weight: 300;
                                letter-spacing: 4px;
                                text-transform: uppercase;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                text-decoration: none;
                                font-family: OpenSans, sans-serif;
                            }
                        }
                    }
                    #home-menu {
                        ul {
                            &.navbar-nav {
                                li {
                                    a {
                                        border: none;
                                        padding-top: 16px;
                                        padding-bottom: 16px;
                                        font-size: 16px;
                                        margin-right: 20px;
                                        font-family: 'Open Sans', sans-serif;
                                        color: #fff;
                                    }

                                    &.open {
                                        a {
                                            background-color: #1C3E74;
                                        }

                                        .dropdown-menu {
                                            background-color: #fff;

                                            li {
                                                a {
                                                    margin: 0;
                                                    background-color: #fff;
                                                    color: #000;

                                                    &:hover {
                                                         background-color: #1C3E74;
                                                         color: #fff;
                                                    }
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            } // nav
        }
    }
    section {
        &.main-content {
            border-bottom: 4px solid #69b9ff;
            background-color: #EDEFF2;
        }

        &#home-content {
            background: url('../img/city.jpg');
            background-size: cover;
            min-height: 600px;

            .heading-title {
                text-align: center;
                padding-top: 130px;

                h1 {
                    margin-bottom: 30px;
                    color: white;
                    font-size: 51px;
                    line-height: 60px;
                    font-weight: normal;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    font-family: OpenSans, sans-serif;
                }

                h3 {
                    margin-bottom: 40px;
                    color: #2e9dff;
                    font-size: 21px;
                    line-height: 25px;
                    font-weight: 300;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    font-family: OpenSans, sans-serif;
                }
            }

            .city-options {
                text-align: center;
                width: 160px;
                margin: auto;

                .dropdown {
                    #city-dropdown {
                        background: none;
                        padding: 20px 55px;
                        border-radius: 0;
                        border: 1px solid #fff;
                        color: #fff;
                        font-size: 18px;
                    }
                    ul {
                        &.dropdown-menu {
                            border-radius: 0;
                            margin-top: -1px !important;

                            li {
                                a {
                                    padding: 13px 17px;
                                    color: #000;
                                    font-size: 18px;
                                    padding: 10px 0 10px 20px;
                                    display: block;

                                    &:hover {
                                        background-color: #CACACA;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } // section

    footer {
        .menu {
            background-color: #EDEFF2;

            .menu-items {
                text-align: center;
                padding: 34px 0;

                ul {
                    display: inline-block;
                    float: none;
                    vertical-align: top;

                    li {
                        display: inline-block;

                        a {
                            font-family: 'Open Sans', sans-serif;
                            color: #676770;
                            font-weight: 300;
                            font-size: .8em;
                            text-decoration: none;
                            padding: 0 10px;
                        }

                        &:not(:last-child) {
                            a {
                                border-right: 1px solid #676770;
                            }
                        }
                    }
                }
            }
        } // menu 
        .copyright {
            background-color: #383838;
            padding: 38px 0;
            text-align: center;
            color: #9A9E9E;
            font-family: 'Open Sans', sans-serif;

            div {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}